# Don't map arrow keys to command index, also search on typed text
"\e[B": history-search-forward
"\e[A": history-search-backward

TAB: menu-complete

set completion-ignore-case on
set completion-query-items 10000
set show-all-if-ambiguous on
set show-all-if-unmodified on
